<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/resert.css">
    <link rel="stylesheet" href="css/adm/adm.css">

    <title>Adm</title>

    <%- include('../../partial/link.ejs') %>

</head>
<body>
    <style>
        .BoxAllUSer{
            background-color: #fff;
            color: #333;
            padding: 15px 15px 10px 20px;
            border-radius: 10px;
        }
    </style>

    <% if (dadosNotificacao) { %>
        <script>
            notify("<%= dadosNotificacao.titulo%>", "<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "center")
            if ("<%= dadosNotificacao.tipo %>" == "success") {
                setTimeout(3000)
            }                        
        </script>
        <% } %>
            <div class="container">
                <div class="sidebar">
                    <section>
                        <h2>P치gina Adm </h2><br>

                        <!-- <section class="box-acess">
                            <h3>Total de usu치rio cadastrado - </h3>
                        </section> -->

                        <section class="box-acess">
                            <h3>Acesso a p치gina Quartos</h3> <br>
                            <a href="/quartos">
                                <button class="buttonAcess">Quartos</button>
                            </a>
                        </section>
                        <section class="box-acess">
                            <h3>Volta para home</h3> <br>
                            <a href="/">
                                <button class="buttonAcess">Home</button>
                            </a>
                        </section>

                    </section>
                    <form action="/sair" method="post">
                        <button class="button">Sair</button>
                    </form>
                </div>
                <div class="content">
                    <section class="box-container">
                        <h1>Total de usu치rios cadastrado</h1>
                                <br>
                    
                                <br>
                                <!-- Colocar user  -->

                                <% users.forEach(user=> { %>
                                    <section class="BoxAllUSer">

                                        <h2>Nome: <%= user.nome_usuario %></h2><br>
                                        <span><b>1. Email:</b> <%= user.email_usuario %></span><br>
                                        <span><b>2. Cpf:</b> <%= user.cpf_usuario %></span>
                                        
                                        <form class="delete-form" action="/adm/delete/<%= user.id_usuario %>/<%= user.tipo_usuario %>?_method=DELETE" method="post">
                                            <button class="delete button3">Excluir</button>
                                        </form>
                                        
                                        
                                        

                                    </section> <br>

                                    <% }) %>
                                    <% if(paginador){ %>
                                        <div class="notificador">
                                            <ul>
                                                <% for(var i=1; i <= paginador.total_paginas; i++){ 
                                                    if(paginador.pagina_atual == i){ 
                                                %>
                                                    <li><a class="atual" href="?pagina=<%= i %>"><%= i %></a></li>
                                                <% } else { %>
                                                    <li><a href="?pagina=<%= i %>"><%= i %></a></li>
                                                <% } 
                                                } %>
                                            </ul>
                                        </div>
                                    <% } %>
                    </section>
                </div>
            </div>

            <%- include('../../partial/modals/delete.ejs') %>

            <script src="/js/delete.js"></script>
</body>

</html>