<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - hotel-node </title>

    <link rel="stylesheet" href="css/HomeStyle.css">
    <link rel="stylesheet" href="css/cadastro.css">
</head>
<body>
    <%
    var msgErro = {nome:"", email:"", senha:"", "c-senha":""}
    var cssErro = {nome:"", email:"", senha:"", "c-senha":""}
    let valorCampos = {nome:"", email:"", senha:"", "c-senha":""}
    var cssErroBorda = {nome:"", email:"", senha:"", "c-senha":""}
    if(dados && dados!=null){
        valorCampos = dados
    }

    if(listaErros){
        listaErros.errors.forEach((itemErro)=>{
            if(itemErro.path == "nome"){
                msgErro.nome = itemErro.msg
                cssErro.nome = "erroForm"
                cssErroBorda.nome = "erroInput";
            } else if(itemErro.path == "email"){
                msgErro.email = itemErro.msg
                cssErro.email = "erroForm"
                cssErroBorda.email = "erroInput";
            } else if(itemErro.path == "senha"){
                msgErro.senha = itemErro.msg
                cssErro.senha = "erroForm"
                cssErroBorda.senha = "erroInput";
            } else if(itemErro.path == "c-senha"){
                msgErro["c-senha"] = itemErro.msg
                cssErro["c-senha"] = "erroForm"
                cssErroBorda['c-senha'] = "erroInput";
            }
        });
    } 

    %>




<main>
    <div class="login-page">

        <div class="form-cadastro">
            <form action="cadastro" method="post"  class = "login-form">
                <h2>Cadastro</h2>

                <input type="text" name="nome" id="nome" class="<%= cssErroBorda.nome %>" placeholder = "Seu nome" value="<%=valorCampos.nome%>">
                <span class="<%= cssErro.nome %>"><%= msgErro.nome %></span><br>


                <input type="text" name="email"  class="<%= cssErroBorda.email %>"id="email" placeholder = "Seu e-mail" value="<%=valorCampos.email%>">
                <span class="<%= cssErro.email %>"><%= msgErro.email %></span><br>

                <input type="password" name="senha"  class="<%= cssErroBorda.senha %>" id="senha" placeholder = "Sua senha" value="<%=valorCampos.senha%>">
                <span class="<%= cssErro.senha %>"><%= msgErro.senha %></span><br>

                <input type="password" name="c-senha"  class="<%= cssErroBorda['c-senha'] %>" id="c-senha" placeholder = "Confime a senha" value="<%=valorCampos['c-senha']%>">
                <span class="<%= cssErro['c-senha'] %>"><%= msgErro['c-senha'] %></span><br>

                <button type="submit">Cadastrar</button>
                <p class="message">Já é cadastrado? <a href="login">Entre</a></p>
            </form>
        </div>
    </div>
</main>
    
</body>
</html>