<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - hotel Node </title>

    <link rel="stylesheet" href="css/cadastro.css">

    <%- include('../partial/link.ejs')  %>



</head>

<body>
    <%
    var msgErro = {nome:"", email:"", senha:"", "c-senha":""}
    var cssErro = {nome:"", email:"", senha:"", "c-senha":""}
    var cssErroBorda = {nome:"", email:"", senha:"", "c-senha":""}
    let valorCampos = {nome:"", email:"", senha:"", "c-senha":""}
    if(dados && dados!=null){
        valorCampos = dados
    }

    if(listaErros){
        listaErros.errors.forEach((itemErro)=>{
            if(itemErro.path == "nome"){
                msgErro.nome = itemErro.msg;
                cssErro.nome = "erroForm";
                cssErroBorda.nome = "erroInput";
                %>
                    <script>notify('Verifique o campo nome', '<%= msgErro.nome %>', 'error')</script>
                <%
            
            } else if(itemErro.path == "email"){
                msgErro.email = itemErro.msg;
                cssErro.email = "erroForm";
                cssErroBorda.cpf = "erroInput";
                %>
                    <script>notify('Verifique o campo email', '<%= msgErro.email %>', 'error')</script>
                <%
                cssErroBorda.email = "erroInput";
            } else if(itemErro.path == "senha"){
                msgErro.senha = itemErro.msg;
                cssErro.senha = "erroForm";
                cssErroBorda.senha = "erroInput";
                %>
                    <script>notify('Verifique o campo senha', '<%= msgErro.senha %>', 'error')</script>
                <%

            } else if(itemErro.path == "c-senha"){
                msgErro["c-senha"] = itemErro.msg;
                cssErro["c-senha"] = "erroForm";
                cssErroBorda['c-senha'] = "erroInput";
                %>
                    <script>notify('Verifique se a senha está igual', '<%= msgErro["c-senha"] %>', 'error')</script>
                <%
            }
        });
    } 

    %>




<main>
        <div class="Container-form">
            <form action="cadastro" method="post"  class="form">
                <div class="Content-h1">
                    <a href="/"><h2>Cadastro</h2></a>
                </div>

                <input class="<%= cssErroBorda.nome %>" type="text" name="nome" id="nome" placeholder="Seu nome " value="<%=valorCampos.nome%>">
                <span class="<%= cssErro.nome %>">
                    <%= msgErro.nome %>
                </span>

                <input type="text" name="email"  class="<%= cssErroBorda.email %>"id="email" placeholder = "Seu e-mail" value="<%=valorCampos.email%>">
                <span class="<%= cssErro.email %>"><%= msgErro.email %></span>

                <input type="password" name="senha"  class="<%= cssErroBorda.senha %>" id="senha" placeholder = "Sua senha" value="<%=valorCampos.senha%>">
                <span class="<%= cssErro.senha %>"><%= msgErro.senha %></span>

                <input type="password" name="c-senha"  class="<%= cssErroBorda['c-senha'] %>" id="c-senha" placeholder = "Confime a senha" value="<%=valorCampos['c-senha']%>">
                <span class="<%= cssErro['c-senha'] %>"><%= msgErro['c-senha'] %></span>

                <button class="button">Cadastrar</button>
                <p class="message">Já é cadastrado? <a href="login" class="link">Entre</a></p>

            </form>
            <div class="demo">
                <a href="/quartos">
                    <button class="demo_button">
                        visitante
                    </button>
                </a>
            </div>
        </div>
</main>
    
</body>
</html>